@import '~@/framework/styles/element-ui-themes/green/index.css';

// 页面全局样式
$appBg: #FFF;
$appTextColor: rgba(0, 0, 0, .65);
$appFontFamily: PingFang SC,
Hiragino Sans GB,
Microsoft YaHei,
San Francisco,
Helvetica Neue,
Arial;
$appFontSize: 14px;
$appFontVariant: tabular-nums;
$appScrollbarColor: rgba(170, 170, 170, .4);
$appScrollbarSize: 4px;
$appSelectionBg: #32b332;
$appSelectionTextColor: #FFF;
$commonPadding: 1em;

//----------------------------------------------------------------------

// 主菜单
// 若主菜单仅在顶部、或左侧 -- 则使用 mainMenu 相关配置.
// 若主菜单同时有顶部与左侧都存在 -- 则使用 topMenu/leftMenu 相关配置
$mainMenuItemTextColor: #FFF;
$mainMenuItemTextColor_Current: #48c570;
$mainMenuItemBg_Current: transparent;
$mainMenuItemFontSize: 14px;
$mainMenuItemPadding: 0 1em;
$mainMenuItemHeight: 46px;

// 顶部栏菜单
$topMenuItemTextColor: #FFF;
$topMenuItemTextColor_Current: #FFF;
$topMenuItemBg_Current: transparent;
$topMenuItemFontSize: 14px;
$topMenuItemPadding: 0 1em;
$topMenuItemHeight: 46px;

// 左侧栏菜单
$leftMenuItemTextColor: rgba(170, 170, 170, 0.8);
$leftMenuItemTextColor_Current: #48c570;
$leftMenuItemBg_Current: transparent;
$leftMenuItemFontSize: 14px;
$leftMenuItemPadding: 0 1em;
$leftMenuItemHeight: 46px;

// 菜单图标
$menuIconFontSize: 14px;
$menuIconFontSize_Collapsed: 20px;
$menuCurrentArrowSize: 8px;
$menuCurrentArrowColor: #FFF;

//----------------------------------------------------------------------

// 顶部栏
$topBarBg: #48c570;
$topBarHeight: 60px;

// 左侧栏
$leftPaneBg: #444E4F;
$leftPaneLogoBg: #444E4F;
$leftPaneWidth: 220px;
$leftPaneCollapsedWidth: 80px;
$leftPaneBoxShadow: none;

// 主内容区
$mainContainerPadding: 24px;
$mainContainerBg: #f0f2f5;

//----------------------------------------------------------------------

// 面包屑样式
$breadcrumbHeight: 40px;
$breadcrumbTextColor: #606266;
$breadcrumbSeparatorColor: #c0c4cc;

// 多页签样式
$tabsMargin: 0.3em;
$tabsNavFontSize: 14px;
$tabsContextMenuBg: #FFF;
$tabsContextMenuBorder: solid 1px #e4e7ed;
$tabsContextMenuBorderRadius: 0 0 5px 5px;
$tabsContextMenuPadding: .4em 0 .4em 0;
$tabsContextMenuItemHeight: 2em;
$tabsContextMenuItemIconWidth: 26px;
$tabsContextMenuItemTextHoverColor: #3092ff;

//----------------------------------------------------------------------

// mask 背景色
$maskBgColor: rgba(204, 204, 204, 0.35);

// 内容为空时，揭示文本前景色
$emptyContentTextColor: rgba(255, 255, 255, 0.5);

// footer 样式
$footerPadding: 12px 4px;
$footerLineHeight: 1.8em;
$footerTextColor: #ACACAC;