/**
 * 原子性规范 - 主题色。
 */

// 主题色。
$mainColor: #1890FF;

// 中性色
$headerBgColor: #262626;
$greyColor1: #595959;
$greyColor2: #8C8C8C;
$tipBgColor: #BFBFBF;

// 辅助色
$errorColor: #f5222d;
$warningColor: #fa8c16;
$successColor: #52c41a;

// 边框色
$borderThickColor: #d9d9d9;
$borderCommonColor: #e8e8e8;
$borderLightColor: #f5f5f5;
$borderLightestColor: #fafafa;

// 背景色
$greyBgColor: #F1F2F5;
$whiteBgColor: #FFFFFF;